*
!.gitignore
!Blobfish.json
!Blobfish.png
!Boombox.json
!Boombox.png
!Center_Flag.json
!Center_Flag.png
!Constriction.2.json
!Constriction.2.png
!EMERALD.json
!EMERALD.png
!Head.json
!Head.png
!run.sh
!Smirk.json
!Smirk.png
!The_Holy_See.json
!The_Holy_See.png
!toggle_test.json
!toggle_test.png
!Transilio.json
!Transilio.png
!Velocity.json
!Velocity.png
!Wormy.json
!Wormy.png
